body {
  background: var(--body-color);
  color: var(--text-color);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: var(--nav-color);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 320px;
  text-align: center;
}

.login-container h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--text-color);
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: var(--search-bar);
  color: var(--search-text);
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #4070F4;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #305bd4;
}